.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.units-form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.units-form:first-of-type {
  margin-left: 10%;
}

.number-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.number-input__button {
  padding: 5px 10px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
}

.number-input__value {
  padding: 5px;
}

.attackAbilities {
  display: flex;
  gap: 10px;
}

.attackAbilitiesDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.attacker {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

